.auth-form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 2.3em;
    border: none;
    background-color: #ffffff1e;
    text-align: center;
}
    .auth-form div {
        color: #fff;
        padding: 1em;
    }
    .auth-form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 1em;
        box-sizing: border-box;
        border-radius: 1em;
        border: none;
        outline: none;
        text-align: center;
    }
    .auth-form input[type="submit"] {
        margin-top: 1em;
        max-width: 80%;
        background-color: #ff3737;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s ease;
    }
    .auth-form input[type="submit"]:hover {
        transition: 0.5s ease;
        background-color: #7c3535;
    }
    .auth-form label {
        display: block;
        margin-bottom: 0.5em;
        color: #ffffff;
        text-align: center;
}

#form-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #fff;
}
    #form-info a {
        color: white;
}

.meet-form {
    background-color: #7c3535;
    
}
    .meet-form form {
        max-width: 800px;
        margin: 0 auto;
        padding: 2em;
        box-sizing: border-box;
        border-radius: 2.3em;
        border: none;
        background-color: #ffffff1e;
        text-align: center;
    }
    .auth-form div {
        color: #fff;
        padding: 1em;
    }
    .meet-form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 1em;
        box-sizing: border-box;
        border-radius: 1em;
        border: none;
        outline: none;
        text-align: center;
    }
    .meet-form input[type="submit"] {
        margin-top: 1em;
        max-width: 80%;
        background-color: #ff3737;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s ease;
    }
    .meet-form input[type="submit"]:hover {
        transition: 0.5s ease;
        background-color: #7c3535;
    }
    .meet-form label {
        display: block;
        margin-bottom: 0.5em;
        color: #ffffff;
        text-align: center;
}