<header>
    <span class="header-logo" id=top>CarMeeter</span> 
    <nav>
        <div class="top-nav-btn-group" style="min-width:100%">
            {navigation}
        </div>
    </nav>
</header>

<div class="mobile-top-nav">
    <a href="http://localhost/car_meeter" class="active">CarMeeter</a>
    <div id="mobile-top-nav-links">
        {mobilenav}
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script src="app/scripts/js/mobilenav.js"></script>