<header>
    <div class="header-banner">
        <nav>
            <div class="top-nav-btn-group" style="min-width:100%">
                {navigation}
            </div>
        </nav>
        
        <div class="header-logo" id=top>CarMeeter</div>
    </div>
</header>

<div class="mobile-top-nav">
    <a href="https://www.autoskola-plus.cz" class="active">CarMeeter</a>
    <div id="mobile-top-nav-links">
        {mobilenav}
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>