<!DOCTYPE html>
<html lang="cs">
<head>
    <base href="{base}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="app/styles/styles.css?verze=7.3">
    <link rel="stylesheet" href="app/fontawesome-free-6.3.0-web/css/all.css">
    <title>{title}</title>
</head>
<body>
    {header}
    <div class="container">
        {content}
        {systemForm}
        {systemMess}
    </div>
    <div class="stripe"></div>
    <div class="stripe" id="second-stripe"></div>
</body>
</html>