<!DOCTYPE html>
<html lang="cs">
<head>
    <base href="{base}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="app/ASSETS/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="app/ASSETS/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="app/ASSETS/ico/favicon-16x16.png">
    <link rel="stylesheet" media="screen" href="app/styles/styles.css?verze=7.51">
    <link rel="stylesheet" href="app/ASSETS/fontawesome-free-6.3.0-web/css/all.css">
    <title>{title}</title>
</head>
<body>
    {header}
    <div class="container">
        {content}
        {systemForm}
    </div>
    <div class="stripe"></div>
    <div class="stripe" id="second-stripe"></div>
</body>
</html>