<!DOCTYPE html>
<html lang="cs">
<head>
    <base href="{base}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="app/styles/styles.scss">
    <title>{title}</title>
</head>
<body>
    <div class="container">
        {header}
        {content}
        {footer}
    </div>
</body>
<script src="https://kit.fontawesome.com/e4c3d4daf1.js" crossorigin="anonymous"></script>
</html>