<div class="flex-content">
    <div class="section" id="contractual">
        <h2>Obecné nařízení o ochraně osobních údajů (GDPR)</h2>
        <p>
            Účelem obecného nařízení o ochraně osobních údajů (GDPR), které vešlo v platnost 25. května 2018, je vytvořit konzistentní pravidla ochrany údajů v rámci Evropské unie. 
            Týká se všech společností, které zpracovávají osobní údaje fyzických osob v rámci Evropské unie, bez ohledu na to, kde daná společnost sídlí. Zpracování je definováno široce jako vše, 
            co se týká osobních údajů, mimo jiné jak společnost s údaji nakládá a spravuje je. Může jít například o shromažďování, uchovávání, používání a likvidaci údajů.
        </p>
        <p>
            Celá řada principů v tomto nařízení vychází ze současných pravidel Evropské unie na ochranu údajů. 
            Obecné nařízení o ochraně osobních údajů má ale širší působnost, přísnější standardy a stanovuje vysoké pokuty. 
            Například vyžaduje nadstandardní souhlas pro používání údajů určitých typů a rozšiřuje práva fyzických osob, pokud jde o přenos jejich údajů a přístup k nim. 
            Nedodržení nařízení GDPR může mít za následek vysoké pokuty.
        </p>

        <h3>Závazek a příprava ze strany služby CarMeeter</h3>
        <p>
            Ochrana údajů je pro službu CarMeeter zásadní. Dodržujeme současné právní předpisy EU týkající se ochrany údajů, ke kterým patří i obecné nařízení o ochraně osobních údajů (GDPR).
            Vaše osobní údaje používáme pouze pro správné fungování služby CarMeeter.
        </p>
    </div>
</div>